@import "tailwindcss";

@theme {
  --font-family-normal: "IBM Plex Mono", monospace;
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: #dab03f;
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer base {
  html {
    font-family: IBM Plex Mono, monospace;
  }

  body {
    @apply leading-relaxed font-normal bg-black text-white;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold mb-4;
    font-family: 'Press Start 2P', cursive
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply text-lg mb-4;
  }

  a {
    @apply text-blue-500 hover:text-blue-400;
  }

  .github-icon {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: transparent;
    z-index: 2;
    transition: opacity 0.3s ease;
  }

  .github-icon:hover {
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .github-icon {
      display: none;
    }
  }
}